.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 540px;
    text-align: center;
}

.home__img {
    border: 1px solid black;
    background-color: var(--title-color);
    width: 200px;
    margin-bottom: 1.5rem;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.home__education {
    display: block;
    margin-bottom: 1.10rem;
}

.home__name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home__socials {
    display: flex;
    justify-content: space-between;
    margin: 1.0rem;
}

.home__socials-link {
    color: var(--title-color);
    font-size: 1.5rem;
    transition: 0.3s;
}

.home__socials-link:hover {
    color: hsl(248, 100%, 50%);
}

.scroll__down {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
    text-align: center;
}

.home__scroll-name {
    color: var(--title-color);
    font-size: var(--h3-font-size);
}

.mouse {
    border: 2px solid #454360;
    display: block;
    height: 1.6rem;
    width: 1.25rem;
    margin: auto;
    margin-top: 0.75rem;
    border-radius: 1rem;
    position: relative;
}

@keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }

}

.wheel {
    background-color: var(--title-color);
    border-radius: 100%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;
}

@media screen and (max-width: 1024px) {
    .home__social-link {
        font-size: 1.125rem;
    }
}